<div>
 <%= link_to "Back to Shop", shop_index_path %>   
</div>
<div>
    <%= image_tag @work.image.thumb.url %>
    <h1><%= @work.name %></h1>
    <p><%= @work.size %></p>
    <p><%= @work.clay_type %></p>
    <p><%= @work.fire_type %></p>
    <p><%= @work.details %></p>
        
    <%= link_to "edit", edit_work_path %>
</div>