<div>
    <h1>Order Summary</h1>
    <p>Order Id: <%= @order.braintree_id %></p>
    <p>Amount: <%= @order.amount %></p>
    <% for item in @items %>
        <%=image_tag item.work.image.thumb.url %>
        <h3><%=item.work.name %></h3>
        <p><%= item.quantity %></p>
    <% end %>
</div>
