<div class="container">
  <div class="breadcrumbs">
         <%= link_to "Back to Works", admin_works_path %>  
     </div>
<h1>Edit <%= @work.name %></h1>
<div class="well col-md-6">
  <%= simple_form_for [:admin, @work] do |f| %>
    <%= f.input :name, label: "Name", error: "Name your work!" %>
    <%= f.input :size %>
    <%= f.input :price %>
    <%= f.input :quantity %>
    <%= f.select :clay_type, collection: ["White", "Red", "Yellow", "Black", "Porcelain"] %>
    <%= f.select :fire_type, collection: ["High-fire", "Mid-fire", "Low-fire", "Soda Firing", "Raku", "Wood Firing"] %>
    <%= f.input :details %> 
    <%= f.input :shop_active %>
    <%= f.input :gallery_active %>
    <%= f.input :playful %>
    <%= f.file_field :image, label: "Image" %>
    <% if f.object.image? %>
        <%= image_tag f.object.image.thumb.url %>
        <%= f.label :remove_image %>
        <%= f.check_box :remove_image %> 
    <% end %>
    <%= f.button :submit %>
  <% end %>
</div>
</div>